body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.5;
}


#download-buttons {
    margin-top: 30px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
